<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestPackage.test_Commandes"/>
      <class name="TestPackage.test_Restaurant"/>
      <class name="TestPackage.test_Tables"/>
      <class name="TestPackage.test_Menu"/>
      <class name="TestPackage.test_Franchise"/>
      <class name="TestPackage.test_Serveur"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
